.qPasaCreate{
    background-color: #F9E400;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}

.quePasa{
    color: #F9E400;
    position: fixed;
    z-index: 2;
    text-decoration: none;
}

.fondoCreate{
    background-color: rgb(31, 31, 113);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
}

.tituloCreate{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.formularioCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.formCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#info{
    width: 200px;
    height: 30px;
}

#image{
    width: 200px;
    height: 30px;
}

.botonCreate{
    background-color: #F9E400;
    margin-top: 10px;
    width: 60%;
    padding: 10px 0px 10px 0px;
}

.spanCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 60%;
}

.contactos{
    color: #F5004F;
    text-decoration: none;
}