.qPasaLogin{
    background-color: #F9E400;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}

.quePasa{
    color: #F5004F;
    position: fixed;
    z-index: 2;
}

.fondoLogin{
    background-color: #F9E400;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
}

.tituloLogin{
    font-size: 40px;
    margin-bottom: 20px;
}

.formularioLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.labelEmail, .labelContraseña{
    font-size: 20px;
}

#email, #password{
    width: 200px;
    height: 30px;
}

#email::placeholder, #password::placeholder{
    padding-left: 5px;
}

.botonInicioLogin{
    background-color: rgb(31, 31, 113);
    color: white;
    margin-top: 10px;
    width: 60%;
    padding: 10px 0px 10px 0px;
}

.spanLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 60%;
}

.restablecer, .registrate{
    color: #F5004F;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    .tituloLogin {
        font-size: 30px;
    }

    #email,
    #password {
        width: 250px;
        height: 35px;
    }

    .botonInicioLogin {
        width: 70%;
        padding: 15px 0;
    }

    .spanLogin {
        width: 80%;
    }
}

@media screen and (min-width: 1000px) {
    .qPasaLogin {
        height: 70px;
    }

    .quePasa {
        font-size: 24px;
    }

    .tituloLogin {
        font-size: 36px;
    }

    .formularioLogin {
        margin-bottom: 30px;
    }

    #email,
    #password {
        width: 300px;
        height: 40px;
    }

    .botonInicioLogin {
        width: 50%;
        padding: 15px 0;
    }

    .spanLogin {
        width: 70%;
    }
}

@media screen and (min-width: 1800px) {
    .qPasaLogin {
        height: 100px;
        padding-left: 20px;
    }

    .quePasa {
        font-size: 36px;
    }

    .tituloLogin {
        font-size: 48px;
    }

    #email,
    #password {
        width: 400px;
        height: 50px;
    }

    .botonInicioLogin {
        width: 40%;
        padding: 20px 0;
        font-size: 18px;
    }

    .spanLogin {
        width: 60%;
    }

    .formLogin {
        gap: 20px;
    }
}