.qPasaRegister{
    background-color: #F9E400;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
}

.quePasa{
    color: #F5004F;
    position: fixed;
    z-index: 2;
}

.fondoRegister{
    background-color: #F9E400;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
}

.tituloRegister{
    font-size: 40px;
    margin-bottom: 20px;
}

.formularioRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.formRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nameRegister, .emailRegister, .passwordRegister{
    font-size: 20px;
}

#name{
    width: 200px;
    height: 30px;
}

#name::placeholder{
    padding-left: 5px;
}

.botonRegister{
    background-color: rgb(31, 31, 113);
    color: white;
    margin-top: 10px;
    width: 60%;
    padding: 10px 0px 10px 0px;
}

.spanRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 60%;
}

.iniciar{
    color: #F5004F;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    .tituloRegister {
        font-size: 30px;
    }

    #name, #email, #password {
        width: 250px;
        height: 35px;
    }

    .botonRegister {
        width: 70%;
        padding: 15px 0;
    }

    .spanRegister {
        width: 80%;
    }
}

@media screen and (min-width: 1000px) {
    .qPasaRegister {
        height: 70px;
    }

    .quePasa {
        font-size: 24px;
    }

    .tituloRegister {
        font-size: 36px;
    }

    .formularioRegister {
        margin-bottom: 30px;
    }

    #name, #email, #password {
        width: 300px;
        height: 40px;
    }

    .botonRegister {
        width: 50%;
        padding: 15px 0;
    }

    .spanRegister {
        width: 70%;
    }
}

@media screen and (min-width: 1800px) {
    .qPasaRegister {
        height: 100px;
        padding-left: 20px;
    }

    .quePasa {
        font-size: 36px;
    }

    .tituloRegister {
        font-size: 48px;
    }

    #name, #email, #password {
        width: 400px;
        height: 50px;
    }

    .botonRegister {
        width: 40%;
        padding: 20px 0;
        font-size: 18px;
    }

    .spanRegister {
        width: 60%;
    }

    .formRegister {
        gap: 20px;
    }
}
