.detalle{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nombreDetalle{
    font-size: 50px;
    text-align: center;
}

.emailDetalle{
    font-size: 30px;
    text-align: center;
}

.infoDetalle{
    font-size: 15px;
    text-align: center;
}