@import url("./Pages/Home/home.css");
@import url("./Pages/Chat/chat.css");
@import url("./Pages/Info/info.css");
@import url("./Pages/CreateContact/createContact.css");
@import url("./Pages/Login/login.css");
@import url("./Pages/Register/register.css");
@import url("./Pages/ForgotPassword/forgotPassword.css");
@import url("./Pages/ResetPassword/resetPassword.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

